.logo-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 22px;
}

.logo-background {
  position: absolute;
  width: calc(100% - 24px);
  height: 100%;
  background: #121212;
  border-radius: 24px;
  z-index: 1;
  margin-left: 12px;
  margin-right: 12px;
}

.logo {
  position: relative;
  max-width: 100px;
  height: auto;
  opacity: 0.7;
  z-index: 2;
}

